nav
{
    display: flex;
    flex-direction: column;
    padding: 2rem 0 0 2rem;
}
/**BODY Y MODELOS**/
body
{
    background-color: #18171c;
    margin-left: auto;
    margin-right: auto;
}
h1
{
    text-align: center;
    margin: auto;
    padding: 34rem 0 0 0;
}
h2
{
    text-align: center;
}
img
{
    margin: auto;
    padding: 3rem 0 0 26.5rem;
    width: 17rem;
    height: 18rem;
}
/**SECCION HOJA DE E INFORMACION**/
.hoja
{
    width: 70rem;
    height: 90rem;
    background-color: white;
    margin: 1rem 0 1rem 0;
    padding: 2rem 0 0 0;
    margin-left: auto;
    margin-right: auto;
}
